.grid-bottom {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: rgba(223, 219, 219, 0.651);
}
.grid-bottom-in {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}